/* Background Image */
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#box {
	width: 340px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
/* Rounded Corner */
.tb5 {
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}
/* Rounded Corners */
.fb8 {
	border: 2px solid #777;
	border-radius: 10px;
	outline: none;
}
a {
      text-decoration:none;
   }
   
   /* Border Color / Style */
.ta3 {
	width:230px;
	height:60px;
	border:2px dashed #D1C7AC;
}
/* Larger Side Border */
.ta8 {
	width: 600px;
	height:220px;
	border:1px solid #3366FF;
	border-left: 4px solid #3366FF;
}

/* Hover Button 2 */
/* Hover Button 1 */
.fb9 {
	background-color: #db6600;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;	
	color: #ffffff;
	border:1px solid #db6600;
	background-image: url(images/button_bg.jpg);
}
.fb9:hover {
	background-color: #000000;	
	border:1px solid #000000;
	background-image: url(images/button_bg_over.jpg);
}
#dob{
    color:#000;
    font-size: 13px;
    line-height: 30px;
}
/* Background Image */
.ta4 {
	background-image: url(images/bg.png);
	border: 1px solid #6297BC;
	width: 550px;
	height: 220px;
}
body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 72.5%;
}