<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http pattern="/images/**" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/favicon.ico" security="none"/>
	<http auto-config="true">
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/welcome" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/register" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/emailVerification" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/forgetPassword" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/resetPassword" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<session-management>
    	<concurrency-control session-registry-ref="sessionRegistry"/>
		</session-management>
		<session-management>
    	<concurrency-control max-sessions="10" session-registry-ref="sessionRegistry"/>
		</session-management>
		 <!-- <intercept-url pattern="/forgetPassword*" access="permitAll"/>
        <intercept-url pattern="/user/resetPassword*" access="permitAll"/>
        <intercept-url pattern="/user/changePassword*" access="permitAll"/>
        <intercept-url pattern="/updatePassword*" access="isAuthenticated()"/>
        <intercept-url pattern="/user/savePassword*" access="isAuthenticated()"/>

        <intercept-url pattern="/emailError*" access="permitAll"/>
        <intercept-url pattern="/resources/**" access="permitAll"/> -->
        <intercept-url pattern="/invalidSession*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<form-login 
		    login-page="/login" 
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" delete-cookies="JSESSIONID"/>
		<!-- enable csrf protection -->
		<csrf/>
	</http>
<beans:bean id="sessionRegistry"
    class="org.springframework.security.core.session.SessionRegistryImpl" />
	<beans:bean id='bCryptPasswordEncoder' class='org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder'></beans:bean>
	
	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
		<password-encoder ref="bCryptPasswordEncoder"/>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
         SELECT USERNAME, PASSWORD, CASE ENABLED WHEN 1 THEN 'true' ELSE 'false' END 'ENABLED'
         FROM LeafUsers
         WHERE USERNAME=?;"
 
       authorities-by-username-query="
        SELECT u.USERNAME, r.ROLENAME
        FROM LeafUsers u, UserRoles r
        WHERE u.LID = r.LID
        AND u.USERNAME=?;"
 
        />
		</authentication-provider>
	</authentication-manager>

</beans:beans>
